body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#app {
  min-height: 56px;
}

.btn-blockstack {
  background-color: #2196f3
}

.preview-block {
  opacity: 0.5;
  height: 4em;
}

/*.reloading */
.preview-block {
  display: block;
}

#loading {
  height: 56px;
  opacity: 0.5;
}

/* Reloading after authentication */

.reloading .landing {
  display:  none;
}

.reload  {
  display: none;
}

.reloading .reload {
  display: block;
}

/* Status after verified authenticated */

.authenticated .landing {
  display: none;
}
